name: Full Azure Deployment (SQL + KeyVault + App Service)

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout
      uses: actions/checkout@v4

    - name: Azure Login
      uses: azure/login@v2
      with:
        creds: ${{ secrets.AZURE_CREDENTIALS }}

    - name: Set variables
      run: |
        echo "RG=kvsql-demo-rg" >> $GITHUB_ENV
        echo "LOC=centralindia" >> $GITHUB_ENV
        echo "SQLSERVER=kvsqlserver$RANDOM" >> $GITHUB_ENV
        echo "DBNAME=demoDB" >> $GITHUB_ENV
        echo "KVNAME=kvsqlvault$RANDOM" >> $GITHUB_ENV
        echo "WEBAPP=kvsqlapp$RANDOM" >> $GITHUB_ENV
        echo "PLAN=kvsqlplan" >> $GITHUB_ENV
        echo "PASSWORD=P@ssw0rd123#" >> $GITHUB_ENV

    - name: Create Azure Resources
      run: |
        az group create -n $RG -l $LOC

        az sql server create -n $SQLSERVER -g $RG -l $LOC \
          -u sqladmin -p "$PASSWORD"

        az sql db create -n $DBNAME -s $SQLSERVER -g $RG --service-objective Basic

        az keyvault create -n $KVNAME -g $RG -l $LOC

        CONN="Server=tcp:$SQLSERVER.database.windows.net,1433;Database=$DBNAME;User ID=sqladmin;Password=$PASSWORD;Encrypt=true;"
        az keyvault secret set --vault-name $KVNAME --name SqlConnString --value "$CONN"

        az appservice plan create -g $RG -n $PLAN --sku B1 --is-linux

        az webapp create -g $RG -p $PLAN -n $WEBAPP --runtime "PYTHON:3.10"

        APP_ID=$(az webapp identity assign -g $RG -n $WEBAPP --query principalId -o tsv)
        az keyvault set-policy -n $KVNAME --object-id $APP_ID --secret-permissions get list

        SECRET_URI=$(az keyvault secret show --vault-name $KVNAME --name SqlConnString --query id -o tsv)
        az webapp config appsettings set -g $RG -n $WEBAPP \
          --settings SQL_CONN="@Microsoft.KeyVault(SecretUri=$SECRET_URI)"

    - name: Prepare ZIP package
      run: |
        cd app
        zip -r ../app.zip .

    - name: Deploy to Azure App Service
      uses: azure/webapps-deploy@v3
      with:
        app-name: ${{ env.WEBAPP }}
        package: app.zip
